head
    title= title
    // import Deployd
    script(src="../dpd.js")
    // import Angular
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js')
    meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/style.css')
