extends layout
block content
  #content-header.row
    .col-xs-12.col-md-7
      h1= title
    #header-info.col-xs-12.col-md-5
  .row
    #main-body
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body.clearfix Hello world
