extends layout
block content
    div
        #content-header.row
            .col-xs-12.col-md-7
                h1= title
            #header-info.col-xs-12.col-md-5
        #main-body
            .row
                .col-xs-12
                    table.table.table-striped
                        thead
                            th Name
                            th(ng-show="playerCtrl.isActive('/vertical') || playerCtrl.isActive('/all') || playerCtrl.isActive('')") Vertical
                            th(ng-show="playerCtrl.isActive('/serve') || playerCtrl.isActive('/all') || playerCtrl.isActive('')") Serve
                        tr(ng-repeat='player in playerCtrl.playerList | orderBy:player.serve:reverse track by player.id')
                            td {{ player.name }}
                            td(ng-show="playerCtrl.isActive('/vertical') || playerCtrl.isActive('/all') || playerCtrl.isActive('')") {{ player.approachJump - player.reach }}
                            td(ng-show="playerCtrl.isActive('/serve') || playerCtrl.isActive('/all') || playerCtrl.isActive('')") {{ player.serve }}
