doctype html
html(ng-app='LeaderBoard')
  include headcss

  body(ng-controller='PlayerCtrl as playerCtrl')
    .starter-template
      include header
      .container.content
        include sidebar
        #content.col-sm-11.col-md-9.col-lg-10
          block content
        include footer

      script(src='js/jquery-2.1.1.js')
      script(src='js/bootstrap.js')
      script(src='js/angular.js')
      script(src='js/angular-route.js')
      script(src='angular/playerController.js')
